

/* w98 css  */
@import 'controls/titlebar';
@import 'controls/inputs';

/*! 98.css v0.1.18 - https://github.com/jdan/98.css */
@font-face {
    font-family: 'Pixelated MS Sans Serif';
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Pixelated MS Sans Serif';
    font-style: normal;
    font-weight: 700;
  }
  body {
    color: #222;
    font-family: Arial;
    font-size: 12px;
  }
  .title-bar,
  .window,
  button,
  input,
  label,
  option,
  select,
  textarea,
  ul.tree-view {
    -webkit-font-smoothing: none;
    font-family: 'Pixelated MS Sans Serif', Arial;
    font-size: 11px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  u {
    border-bottom: 0.5px solid #222;
    text-decoration: none;
  }
  button,
  input[type='reset'],
  input[type='submit'] {
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
  }
  .vertical-bar,
  button,
  input[type='reset'],
  input[type='submit'] {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  }
  .vertical-bar {
    height: 20px;
    width: 4px;
  }
  button:not(:disabled):active,
  input[type='reset']:not(:disabled):active,
  input[type='submit']:not(:disabled):active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    padding: 2px 11px 0 13px;
  }
  @media (not(hover)) {
    button:not(:disabled):hover,
    input[type='reset']:not(:disabled):hover,
    input[type='submit']:not(:disabled):hover {
      box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    }
  }
  button:focus,
  input[type='reset']:focus,
  input[type='submit']:focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
  }
  button::-moz-focus-inner,
  input[type='reset']::-moz-focus-inner,
  input[type='submit']::-moz-focus-inner {
    border: 0;
  }
  :disabled,
  :disabled + label,
  input[readonly],
  input[readonly] + label {
    color: grey;
  }
  :disabled + label,
  button:disabled,
  input[type='reset']:disabled,
  input[type='submit']:disabled {
    text-shadow: 1px 1px 0 #fff;
  }
  .window {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
  }
  
  .status-bar {
    gap: 1px;
    display: flex;
    margin: 0 1px;
  }
  .status-bar-field {
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
    flex-grow: 1;
    margin: 0;
    padding: 2px 3px;
  }
  .window-body {
    margin: 8px;
  }
  fieldset {
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='5' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h5v5H0V2h2v1h1V2H0' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h4v4H0V1h1v2h2V1H0'/%3E%3C/svg%3E")
      2;
    margin: 0;
    padding: 10px;
    padding-block-start: 8px;
  }
  legend {
    background: silver;
  }
  .field-row {
    align-items: center;
    display: flex;
  }
  [class^='field-row'] + [class^='field-row'] {
    margin-top: 6px;
  }
  .field-row > * + * {
    margin-left: 6px;
  }
  .field-row-stacked {
    display: flex;
    flex-direction: column;
  }
  .field-row-stacked * + * {
    margin-top: 6px;
  }
  label {
    align-items: center;
    display: inline-flex;
  }
  
  select,
  textarea {
    border: none;
  }
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 0;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    box-sizing: border-box;
    padding: 3px 4px;
  }
  input[type='email'],
  input[type='password'],
  input[type='text'],
  select {
    height: 21px;
  }
  input[type='number'] {
    height: 22px;
  }
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='text'] {
    line-height: 2;
  }
  input[type='email']:disabled,
  input[type='email']:read-only,
  input[type='number']:disabled,
  input[type='number']:read-only,
  input[type='password']:disabled,
  input[type='password']:read-only,
  input[type='text']:disabled,
  input[type='text']:read-only,
  textarea:disabled {
    background-color: silver;
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
    background-position: top 2px right 2px;
    background-repeat: no-repeat;
    border-radius: 0;
    padding-right: 32px;
    position: relative;
  }
  input[type='email']:focus,
  input[type='number']:focus,
  input[type='password']:focus,
  input[type='text']:focus,
  select:focus,
  textarea:focus {
    outline: none;
  }
  input[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");
    height: 21px;
    transform: translateY(-8px);
    width: 11px;
  }
  input[type='range'].has-box-indicator::-webkit-slider-thumb {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");
    transform: translateY(-10px);
  }
  input[type='range']::-moz-range-thumb {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");
    border: 0;
    border-radius: 0;
    height: 21px;
    transform: translateY(2px);
    width: 11px;
  }
  input[type='range'].has-box-indicator::-moz-range-thumb {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");
    transform: translateY(0);
  }
  input[type='range']::-webkit-slider-runnable-track {
    background: #000;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #a9a9a9, -1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9,
      -1px 1px 0 #fff, 1px -1px #a9a9a9;
    box-sizing: border-box;
    height: 2px;
    width: 100%;
  }
  input[type='range']::-moz-range-track {
    background: #000;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #a9a9a9, -1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9,
      -1px 1px 0 #fff, 1px -1px #a9a9a9;
    box-sizing: border-box;
    height: 2px;
    width: 100%;
  }
  .is-vertical {
    display: inline-block;
    height: 150px;
    transform: translateY(50%);
    width: 4px;
  }
  .is-vertical > input[type='range'] {
    height: 4px;
    margin: 0 16px 0 10px;
    transform: rotate(270deg) translateX(calc(-50% + 8px));
    transform-origin: left;
    width: 150px;
  }
  .is-vertical > input[type='range']::-webkit-slider-runnable-track {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 0;
    box-shadow: -1px 0 0 #fff, -1px 1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #a9a9a9, 1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9,
      1px 1px 0 #fff, -1px -1px #a9a9a9;
  }
  .is-vertical > input[type='range']::-moz-range-track {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 0;
    box-shadow: -1px 0 0 #fff, -1px 1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #a9a9a9, 1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9,
      1px 1px 0 #fff, -1px -1px #a9a9a9;
  }
  .is-vertical > input[type='range']::-webkit-slider-thumb {
    transform: translateY(-8px) scaleX(-1);
  }
  .is-vertical > input[type='range'].has-box-indicator::-webkit-slider-thumb {
    transform: translateY(-10px) scaleX(-1);
  }
  .is-vertical > input[type='range']::-moz-range-thumb {
    transform: translateY(2px) scaleX(-1);
  }
  .is-vertical > input[type='range'].has-box-indicator::-moz-range-thumb {
    transform: translateY(0) scaleX(-1);
  }
  select:focus {
    background-color: navy;
    color: #fff;
  }
  select:focus option {
    background-color: #fff;
    color: #000;
  }
  select:active {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h16v17H0V0zm1 16h14V1H1v15z' fill='gray'/%3E%3Cpath fill='silver' d='M1 1h14v15H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 7H5v1h1v1h1v1h1v1h1v-1h1V9h1V8h1V7z' fill='%23000'/%3E%3C/svg%3E");
  }
  a {
    color: #00f;
  }
  a:focus {
    outline: 1px dotted #00f;
  }
  ul.tree-view {
    background: #fff;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    display: block;
    margin: 0;
    padding: 6px;
  }
  ul.tree-view li {
    list-style-type: none;
  }
  ul.tree-view a {
    color: #000;
    text-decoration: none;
  }
  ul.tree-view a:focus {
    background-color: navy;
    color: #fff;
  }
  ul.tree-view li,
  ul.tree-view ul {
    margin-top: 3px;
  }
  ul.tree-view ul {
    border-left: 1px dotted grey;
    margin-left: 16px;
    padding-left: 16px;
  }
  ul.tree-view ul > li {
    position: relative;
  }
  ul.tree-view ul > li:before {
    border-bottom: 1px dotted grey;
    content: '';
    display: block;
    left: -16px;
    position: absolute;
    top: 6px;
    width: 12px;
  }
  ul.tree-view ul > li:last-child:after {
    background: #fff;
    bottom: 0;
    content: '';
    display: block;
    left: -20px;
    position: absolute;
    top: 7px;
    width: 8px;
  }
  ul.tree-view details {
    margin-top: 0;
  }
  ul.tree-view details[open] summary {
    margin-bottom: 0;
  }
  ul.tree-view ul details > summary:before {
    margin-left: -22px;
    position: relative;
    z-index: 1;
  }
  ul.tree-view details > summary:before {
    background-color: #fff;
    border: 1px solid grey;
    content: '+';
    display: block;
    float: left;
    height: 9px;
    line-height: 8px;
    margin-right: 5px;
    padding-left: 1px;
    text-align: center;
    width: 8px;
  }
  ul.tree-view details[open] > summary:before {
    content: '-';
  }
  ul.tree-view details > summary::-webkit-details-marker,
  ul.tree-view details > summary::marker {
    content: '';
  }
  pre {
    background: #fff;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    display: block;
    margin: 0;
    padding: 12px 8px;
  }
  code,
  code * {
    font-family: monospace;
  }
  summary:focus {
    outline: 1px dotted #000;
  }
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 17px;
  }
  ::-webkit-scrollbar-corner {
    background: #dfdfdf;
  }
  ::-webkit-scrollbar-track {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
  }
  ::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  }
  ::-webkit-scrollbar-button:horizontal:end:increment,
  ::-webkit-scrollbar-button:horizontal:start:decrement,
  ::-webkit-scrollbar-button:vertical:end:increment,
  ::-webkit-scrollbar-button:vertical:start:decrement {
    display: block;
  }
  ::-webkit-scrollbar-button:vertical:start {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/%3E%3C/svg%3E");
    height: 17px;
  }
  ::-webkit-scrollbar-button:vertical:end {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
    height: 17px;
  }
  ::-webkit-scrollbar-button:horizontal:start {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8v1H7v1H6v1H5v1h1v1h1v1h1v1h1V4z' fill='%23000'/%3E%3C/svg%3E");
    width: 16px;
  }
  ::-webkit-scrollbar-button:horizontal:end {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6v7h1v-1h1V9h1V8h1V7H9V6H8V5H7V4z' fill='%23000'/%3E%3C/svg%3E");
    width: 16px;
  }
  /*# sourceMappingURL=98.css.map */
  
  
  .iconContainer {
      background-color: #fff;
      border-radius: 5px;
      margin-left: 10px;
      margin-top: 2px;
  }
  
  .titleText {
      vertical-align: super;
  }